:root {
  --basic-black: #1B1C21;
  --cian: #41F6D7;
  --border-cian: #B8FFEC;
  --basic-grey: #7E7E82;
  --background-color: #F2F2F2;
  --button-color: #FF3E79;
  --swiper-theme-color: #B5B6BC;
  --brand-border: #EAEAEA;
}


@font-face {
  font-family: 'TT Lakes Bold';
  font-style: normal;
  font-weight: 700;
  src: local("TT Lakes"), url("../fonts/TTLakes-Bold.woff") format("woff");
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: local("TT Lakes"), url("../GPS/fonts/TTLakes-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Regular';
  src: local("TT Lakes"), url("../GPS/fonts/TTLakes-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  position: relative;
  height: 100%;
  box-sizing: border-box;

}

.hide {
  display: none;
}

body {
  background-image: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 100%);
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}


.brand {
  display: flex;
  background: white;
  border-radius: 6px;
  border: 2px solid #eaeaea;
  align-items: center;
  justify-content: space-between;
  padding: 20px 16px;
  min-width: 240px;
  min-height: 72px;
  margin-right: 16px;
}

.brand::after {
  content: url('../GPS/img/dropdown.svg');
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid var(--button-color);

}

.container {

  max-width: 300px;
  margin: 0 auto;
}

.heading {

  line-height: 24px;
  font-family: 'TT Lakes Regular';
  font-size: 16px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  font-weight: normal;
}

.swiper-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.swiper-slide {
  flex-shrink: 1;
}

.divider-img {
  margin-left: 50px;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 12px));

}

.swiper-pagination {
  top: 165px;

}

.show-all {
  display: none;
}

.btn-hide::before {
  transform: rotate(180deg);
}


@media (min-width:768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }

  .swiper-wrapper {
    flex-wrap: wrap;

  }
  .swiper-slide {
    width: auto;
    height: auto;
    margin: 16px 0px;
  }



  .swiper-pagination {
    display: none;
  }

  .show-all {
    display: flex;
    justify-content: flex-start;
    border: none;
    background-color: transparent;
    font-family: 'TT Lakes Medium', Arial, Helvetica;
    font-size: 16px;
    color: var(--basic-black);
    font-weight: normal;
    margin-left: 32px;
  }

}

.show-all::before {
  content: url('../GPS/img/slide/icon2.svg');
  margin-right: 16px;

}

@media (min-width:1120px) {
  .container {
    max-width: 1120px;
  }

  .swiper-slide {
    
    height: auto;
    box-shadow: none;
  }

}

.hide {
  display: none;
}