:root {
   --basic-black: #1B1C21;
   --cian: #41F6D7;
   --border-cian: #B8FFEC;
   --basic-grey: #7E7E82;
   --background-color: #F2F2F2;
   --button-color:#FF3E79;
 }
 
@font-face {
   font-family: 'TT Lakes Bold';
   font-style: normal;
   font-weight: 700;
   src: local("TT Lakes"), url("../fonts/TTLakes-Bold.woff") format("woff");
}

@font-face {
   font-family: 'TT Lakes Medium';
   src: local("TT Lakes"), url("../GPS/fonts/TTLakes-Medium.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'TT Lakes Regular';
   src: local("TT Lakes"), url("../GPS/fonts/TTLakes-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}

.body {
   margin: 0;
   padding: 0;
}

.wrapper{
   max-width: 320px;
}
.menu-header__button, .footer__button{
   width:40px;
   height:40px;
   border-radius: 50%;
   background-color:var(--button-color);
   border:none;
   cursor: pointer;
}

.menu-header__list {
   /*Контейнер*/
   display: flex;
   list-style-type: none;
   margin-left: 0;
   padding-left: 0;
   align-items: center;
}

.menu-header__item:nth-child(1) {
   margin-left: 24px;
   margin-right: 17px;
}

.menu-header__logo{
   flex-grow: 1;
}

.menu-header__item:nth-child(3) {
   margin-right: 24px;
}

.content {
  
   margin-left: 24px;
   margin-bottom: 264px;
   display: flex;
  flex-direction: column;

}

.content__list {
   /*Список*/
   margin-left: 0;
   padding-left: 0;

}

.content__item:nth-child(1)::before {
   content: url("../GPS/img/highlight.svg");
   display: block;
   transform: translate(-25px, 20px);
   height: 32px;
   width: 4px;

}

.content__item {
   list-style-type: none;
   margin-bottom: 32px;
}

.content__button {
   border: none;
   outline: none;
   background: transparent;
   font-size: 16px;
   font-family: "TT Lakes Medium", Helvetica, sans-serif;  
 
}

.content__button:hover, :focus{
  opacity: 0.5;
  transition-duration: 0.7s;
}

.wrap-footer{
   margin-left: 24px;
}
.footer__list{
   margin-left: 0;
   padding-left: 0;
   display: flex;
   list-style-type: none;
   align-items: center;

}
.footer__item{
margin-right: 16px;
}

.contacts__mail{
   margin-bottom: 12px;
}
.contacts__mail-link {
font-size: 16px;
color:var(--basic-black);
font-family:'TT Lakes Medium',Arial, Helvetica;
text-decoration: none;
}

.contacts__tel-link{
   font-size: 24px;
   font-family:'TT Lakes Bold',Arial, Helvetica;
   color:var(--basic-black);
   text-decoration: none;
}
.language__list{
   margin-left: 0;
   padding-left: 0;
   display: flex;
   list-style-type: none;
   margin-right: 7px;
   text-transform:uppercase;
   font-size: 16px;
  
}
.language__item{
   color:var(--basic-black);
   font-family:'TT Lakes Medium',Arial, Helvetica;
margin-right: 7px;
}